<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/read">Read</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <h1>This is Read Page</h1>

  <table border="1">
    <thead>
      <th>Customer Name</th>
      <th>Phone Number</th>
      <th>Customer Message</th>
    </thead>
    <tbody>
      <% read.forEach(function(article){ %>
      <td><%= article.Customer_Name %></td>
      <td><%= article.Phone_Number %></td>
      <td><%= article.Customer_Message %></td>
      <td>
        <form action="/read/delete/<%= article.id %>" method="get">
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
      </td>
      </tr>
      <%  }) %>
    </tbody>
  </table>
</div>